// -------------------------------
//     NAV VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     NAV STYLES
// ----------------------------

.navbar-collapse {

	.container-fluid {
		padding: 2rem 2.5rem;
		border-bottom: 1px solid #55595c;
	}
}

.about {
	float: left;
  	max-width: 30rem;
  	margin-right: 3rem;

  	h4 {
  		color: #373a3c;
  	}

  	&__text {
  		@extend .text-muted;
  	}
}

.submenu {
	float: left;
  	margin-right: 3rem;

  	h4 {
  		color: #373a3c;
  	}

  	&__list {
  		@extend .list-unstyled;

  		float: left;
		margin-right: 3rem;

		a {
  			color: #818a91;

  			&:hover {
  				color: #373a3c;
  				text-decoration: none;
  			}
  		}
  	}
}